<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div
        th:fragment="post-card(${post})">
    <div class='card text-center text-muted py-4 my-4'>
        <div th:style="${'text-align: left'}">
            <div class="row">
                <div th:class="${'col-1 d-flex flex-column align-items-center'}">
                    <i class="fa fa-arrow-up inc-btn"
                       th:onclick="|postVote('${post.getId()}', true)|"
                    ></i>
                    <p th:style="${'margin: 10px 0'}">
                    <div class="text-center"
                         th:text="${post.getVote()}"
                         th:id="'post-vote-' + ${post.getId()}"
                    ></div>
                    </p>
                    <i class="fa fa-arrow-down dec-btn"
                       th:onclick="|postVote('${post.getId()}', false)|"
                    ></i>
                </div>
                <div class="col">
                    <div class="row mb-3">
                        <div class="col d-flex justify-content-start align-items-center">
                            <a href="#" th:text="${post.getCategory().getName()}"></a> <span
                                th:class="${'text-muted time mx-2'}"
                                th:datetime="${post.getCreate_at()}"></span>

                        </div>
                        <div class="col-1">
                            <div class="dropdown dropstart">
                                <div class="fa fa-ellipsis-h btn" id="dropdownMenu" data-bs-toggle="dropdown"
                                     aria-expanded="false">

                                </div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <li><a th:href="@{/posts/edit/{id}(id=${post.getId()})}"
                                           class="dropdown-item">Edit</a>
                                    </li>
                                    <li>
                                        <form th:action="@{/posts/delete/{id}(id=${post.getId()})}" method="post">
                                            <button type="submit" class="dropdown-item">Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div>
                        <a th:href="@{/posts/{id}(id=${post.getId()})}" th:class="${'card-title'}"><h3
                                th:text="${post.getTitle()}"></h3></a>
                        <p th:class="${'card-text text-muted'}" th:text="${post.getDescription()}"></p>
                        <img th:src="${post.getImageUrl()}" th:class="${'card-img-top'}" alt="..."
                             th:style="${'width: 500px'}">
                    </div>
                    <hr/>
                    <div>
                        <i class="fa fa-comments"></i>
                        <span th:class="${'text-muted'}"
                              th:text="${'Comment (' + #lists.size(post.getComments()) + ')'}"></span>
                        <a th:href="@{/posts/{id}(id=${post.getId()})}" th:class="${'btn btn-primary mx-2'}">Read
                            Post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>