<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div th:fragment="home(${posts}, ${categories})">
    <div th:include="~{fragment/navbar :: navbar}"/>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div th:each="post:${posts}" th:insert="~{fragment/card :: post-card(${post})}"/>
            </div>

            <div class="col-4 my-4">
                <div class="card position-sticky sticky-top p-2 ">
                    <img th:src="@{/images/logo.jpg}" class="card-img-top"
                    >
                    <div class="card-body">
                        <p class="card-text">Welcome to Spring Reddit Clone home page. Come home to check in with your
                            favorite subreddit</p>
                    </div>
                    <div class="d-grid gap-2">
                        <a th:href="@{/posts/create}" class="btn btn-primary" type="button">CREATE POST</a>
                        <a th:href="@{/categories/create}" class="btn btn-outline-primary" type="button">CREATE
                            SUBREDDIT</a>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">
                            Browse subreddit
                        </div>
                        <ul class="list-group list-group-flush">
                            <li th:each="category: ${categories}" class="list-group-item">
                                <a href="#"
                                   th:text="${category.getName()}"
                                   class="card-link"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>