<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FormPost</title>
</head>
<body>
<div th:fragment="post(${post},${categories})">
    <div th:include="~{fragment/navbar :: navbar}"/>
    <div class="container mt-4">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create Post</h4>
                    </div>
                    <div class="card-body" >
                        <form th:object="${post}" th:action="${url}" method="post"
                              enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <input placeholder="Title" th:field="*{title}" type="text" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <textarea placeholder="Description" th:field="*{description}" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <select th:field="*{category_id}"
                                        class="form-select">
                                    <option
                                            th:each="category:${categories}"
                                            th:value="${category.getId()}"
                                            th:text="${category.getName()}"
                                    ></option>
                                </select>
                            </div>
                            <hr/>
                            <div class="mb-3">
                                <input class="form-control"
                                       type="file"
                                       id="image-picker"
                                       name="file"
                                >
                                <input class="form-control"
                                       hidden
                                       th:field="*{image}"
                                >
                            </div>
                            <di>
                                <img width="250px" class="my-4" alt="" th:src="${post.getImageUrl()}" id="prev">

                            </di>
                            <div class="col">
                                <a th:href="@{/}" style=" width: 200px" type="button" class="btn btn-outline-primary">DISCARD
                                </a>
                                <button style=" width: 200px" type="submit" class="btn btn-primary">POST</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const reader = new FileReader();
        reader.onload = function(r_event) {
            document.getElementById('prev').setAttribute('src', r_event.target.result);
        }
        document.getElementById('image-picker').addEventListener('change', function(event) {
            reader.readAsDataURL(this.files[0]);
        });
    </script>
</div>
</body>
</html>