<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div
        th:fragment="view-post(${post})">
    <div th:include="~{fragment/navbar :: navbar}"/>
    <div class="container">
        <div class='card text-center text-muted py-4 my-4'>
            <div th:style="${'text-align: left'}">
                <div class="row">
                    <div th:class="${'col-1 d-flex flex-column align-items-center'}">
                        <i class="fa fa-arrow-up inc-btn"
                           th:onclick="|postVote('${post.getId()}', true)|"
                        ></i>
                        <p th:style="${'margin: 10px 0'}">
                        <div class="text-center"
                             th:text="${post.getVote()}"
                             th:id="'post-vote-' + ${post.getId()}"
                        ></div>
                        </p>
                        <i class="fa fa-arrow-down dec-btn"
                           th:onclick="|postVote('${post.getId()}', false)|"
                        ></i>
                    </div>
                    <div class="col">
                        <div class="row mb-3">
                            <div class="col d-flex justify-content-start align-items-center">
                                <a href="#" th:text="${post.getCategory().getName()}"></a> <span
                                    th:class="${'text-muted time mx-2'}"
                                    th:datetime="${post.getCreate_at()}"></span>

                            </div>
                            <div class="col-1">
                                <div class="dropdown dropstart">
                                    <div class="fa fa-ellipsis-h btn" id="dropdownMenu" data-bs-toggle="dropdown"
                                         aria-expanded="false">

                                    </div>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        <li><a th:href="@{/posts/edit/{id}(id=${post.getId()})}" class="dropdown-item">Edit</a>
                                        </li>
                                        <li>
                                            <form th:action="@{/posts/delete/{id}(id=${post.getId()})}" method="post">
                                                <button type="submit" class="dropdown-item">Delete</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div>
                            <h3 th:class="${'card-title'}" th:text="${post.getTitle()}"></h3>
                            <p th:class="${'card-text text-muted'}" th:text="${post.getDescription()}"></p>
                            <img th:src="${post.getImageUrl()}" th:class="${'card-img-top'}" alt="..."
                                 th:style="${'width: 500px'}">
                        </div>
                        <hr/>
                        <div>
                            <div class="mb-3">
                                <i class="fa fa-comments"></i>
                                <span id="comment-count" th:class="${'text-muted'}"
                                      th:text="${'Comment (' + #lists.size(post.getComments()) + ')'}"></span>
                            </div>
                            <div id="comment-list">
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6 col-md-8  mt-3">
                                    <div class="d-flex"><input id="input-comment" class="form-control"
                                                               placeholder="Add Comment" type="text">
                                        <button class="btn btn-primary mx-3" onclick="onCommentSent()">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script th:inline="javascript">

        /*<![CDATA[*/
        const createComment = (comment) => {
            return `
          <div class="row mb-2">
            <div style="width: 40px; padding: 0;padding-left: 20px " class="d-flex flex-column align-items-center">
                <i class="fa fa-arrow-up inc-btn"
                   onclick="commentVote(${comment.id}, ${true})"
                ></i>
                <p style="margin: 2px 0" class="text-center"
                     id="comment-vote-${comment.id}"
                >
                ${comment.vote}
                </p>
                <i class="fa fa-arrow-down dec-btn"
                   onclick="commentVote(${comment.id}, ${false})"
                ></i>
            </div>
            <div class="col d-flex align-items-center">
                <p class="text-muted m-0">${comment.message}</p>
            </div>
        </div>
            `;
        }
        const post = [[${post}]];
        const commentList = document.getElementById("comment-list");
        post.comments.forEach(e => commentList.innerHTML += createComment(e));

        function onCommentSent() {
            const inputMessage = document.getElementById("input-comment");
            const message = inputMessage.value.trim();
            if (message?.length == 0) return;
            fetch("/api/comments/create", {
                method: 'post',
                body: JSON.stringify({
                    vote: 0,
                    post_id: post.id,
                    message
                }),
                headers
            }).then(res => res.json()).then(res => {
                commentList.innerHTML += createComment(res);
                document.getElementById('comment-count').innerText =
                    `Comment (${commentList.childElementCount.toString()})`;
                inputMessage.value = "";
            }).catch(err => alert("Comment sent fail."));
        }

        /*]]>*/
    </script>
</div>
</body>
</html>