<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit Clone Spring Boot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/timeago.js/3.0.2/timeago.js"></script>
    <script th:src="@{/js/index.js}" defer></script>

</head>
<body>


<div th:switch="${page}">
    <div th:case="home" th:include="~{pages/home :: home(${posts},${categories})}"></div>
    <div th:case="post" th:include="~{pages/post :: post(${post},${categories})}"></div>
    <div th:case="view-post" th:include="~{pages/view-post :: view-post(${post})}"></div>
    <div th:case="create-category" th:include="~{pages/creat-category :: create-category(${category})}"></div>

</div>
</body>
</html>